NODE_ENV=development

PORT = 8000
CORS_ORIGIN = http://localhost:3000
ENCRYPTION_KEY = #Your 64-character hexadecimal encryption key here
POSTGRES_PASSWORD= #Your PostgreSQL password here

# Redis configuration (Set redis_host to 'redis' if using Docker, otherwise use 'localhost')
REDIS_HOST=redis
REDIS_PORT=6379

# Database configuration (Uncomment the appropriate line based on your environment)

#PROD
# DATABASE_URL=postgresql://<username>:<password>@postgres:5432/vestico

#DEV
# DATABASE_URL=postgresql://<username>:<password>@localhost:5432/vestico